* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62,5%;
}

body {
    background:#39B060;
    font-family: 'Indie Flower', cursive;
}

.page {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.logo {
    text-align: center;
    padding: 1rem;
    background: #288D49;
}

h1 {
    font-size: 32px;
    color: #FFFF00;
}

span {
    color: #FFFF00;
}

.emphasis {
    text-align: center;
    margin: 1.6rem 0;
    font-size: 32px;
    line-height: 47px;
    font-family: 'Indie Flower', cursive;
}

.pele {
    text-align: center;
    margin-bottom: 1rem;
}

footer {
    min-width: 100vw;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    left: 0;
    position: fixed;
    background: #288D49;  
}

footer h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;  
}

.material-symbols-outlined {
    display: block;
    background-color: #66BB6A;
    color: black;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;

}

.material-symbols-outlined:hover{
    background-color: #C0CA33;
    color: black;
}

nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-top: 2px solid #39B060;
    color: black;
    background:#558B2F;
}

nav > ul > li > a:hover {
    background-color: #C0CA33;
}
